body {
    background-color: black;
    font-size: larger;
    font-family: monospace;
    text-decoration-color: rgb(0, 255, 0);
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 85%;
    height: fit-content;
    padding: 5% 5%;
    justify-content: center;
    align-items: center;
}

.digital-clock {
    background-color: #523333;
    font-family: monospace;
    font-size: 10vw;
    text-decoration-color: aquamarine;
}

.buttons {
    margin-top: 20px;
    padding: 8px;
}

button {
    border: 1px solid rgb(217, 218, 211) line;
    border-radius: 20px;
    background-color: rgb(236, 44, 44);
    font-size: 18px;
    display: inline-block;
    padding: 3px 6px;
}

button:hover {
    background-color:rgb(63, 63, 241);
}